* {
    padding: 0;
    margin: 0;
}

button, input,
select, textarea {
    font-family: inherit;
    font-size: 100%;
    width: 200px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

#sidebar {
    height: 100vh;
    width: 50%;
    flex: 1;
}

.sidebar-img {
    background-image: url(../img/waterfall.jpg);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sidebar-logo {
    width: 64px;
}

h1 {
    font-family: norse-bold;
    color: white;
    font-size: 76px;
}

.header-bg {
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    gap: 2px;
    padding: 15px;
}

#sidebar p {
    color: white;
    text-align: center;
}

#sidebar p a:link {
    color: white;
}

#sidebar p a:visited {
    color: white;
}

#sidebar p a:hover {
    color: lightgrey;
}

#sidebar p a:active {
    color: lightgrey;
}

#main_section {
    flex: 2;
}

.desc {
    background-color: #eeeeee;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 3rem;
    font-size: 1.2rem;
}

.desc p:first-child {
    margin-bottom: 2rem;
}

.form-container {
    padding: 3rem;
}

.form-container p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333333;

    margin-bottom: 2rem;
}

label {
    font-family:'Courier New', Courier, monospace;
    color: #555555;
    font-weight: 600;
    font-size: 0.7rem;
    width: 150px;
}

input {
    border: 1px solid #E5E7EB;
}

.form-row {
    display: flex;
    gap: 20px;

    margin-bottom: 1rem;
}

.form-item {
    display: flex;
    flex-direction: column;
}

.account {
    background-color: #eeeeee;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 3rem;
}

.account button {
    padding: 10px;
    width: 150px;
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
    background-color: #596d48;
    border-radius: 8px;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

    margin-bottom: 2rem;
}

.account button:hover {
    background-color: #475739;
    cursor: pointer;
}

.account p {
    font-size: 0.9rem;
}

.account a:link {
    text-decoration: none;
    color: #596d48;
    font-weight: bold;
}

.account a:visited {
    color: #596d48;
}

.account a:hover {
    color: #596d48;
    text-decoration: underline;
}

.account a:active {
    color: #475739;
}

@font-face {
    font-family: norse-bold;
    src: url(../fonts/Norse-Bold.otf)
}